
$rblack: linear-gradient(180deg, rgba(31,32,35,1) 0%, rgba(21,21,23,1) 100%);

body{
    color: white;
}

.tcontainer{
    background-image: #333;
    border-radius: 20px;
    width: 98%;
    display: flex;
  //  padding: 3rem;
    margin: 2rem;
    flex-direction: column;
    

}

.cien{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}




.tcontainer{
    box-shadow: 0px 1px 70px -4px rgba(0,0,0,0.8);
    height: 690px;
    width: 690px;
    background-image: #111;

    padding: 40px;
}

.tcontainer > input{

    background-color: rgb(28, 28, 33);
    border: 1px solid rgb(59, 69, 78);
    color: white;

}


.col{
    color: white;
}

.h{
    margin-bottom: 30px;
}

.tabla{
    font-size: small;
    width: 100%;
}

.table-responsive{
    
    border-radius: 5px;
    overflow-x: hidden;
}

.lilb{
    font-size: small;
}

.end{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content:flex-end ;
}