
$rblack: linear-gradient(180deg, rgba(31,32,35,1) 0%, rgba(21,21,23,1) 100%);

body{
    color: white;
}

.tcontainer{
    background-image: #333;
    border-radius: 20px;
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 3rem;

}



.tcon{
    display: flex;
    justify-content: space-evenly;
    width: 1600px;
}

.tcontainer > input{

    background-color: rgb(28, 28, 33);
    border: 1px solid rgb(59, 69, 78);
    color: white;

}
